





header {
    background: rgba(0, 26, 129, 0.7);
    width: 100%;
    position: static;
    z-index: 100;
  }


  :root{
    --main-color:aqua;
    --text-color:rgb(126, 73, 73);
    --text-color-hover:blue;
    --text-color-parrafo:grey;
}
  
  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #eca023;
  }
  
h1{
    color: rgb(246, 255, 0);
}
h2{
    color: rgb(0, 0, 0);
}
#respuesta{
    color: rgb(7, 7, 7);
}
html{
background-color: rgb(203, 111, 6);
}


.faq .faq__pregunta{
    color: rgb(219, 255, 15);

}
.card{
    width: 400px;
    height: 400px;
    margin: 10px;
    border: 1px;

}
.boton-div{
    width:200px;
    height: 200px;
    padding:15px;
    border:5px solid grey;
    margin:10px;
}

.image{
background-color: rgb(0, 127, 238);
}


.menu .image{
background-color: rgb(246, 255, 127);
}

.menu__image{
    background-color: aquamarine; 
}
.fondo__image{
    background-color: rgb(9, 80, 234); 
}

.boton-div{
    width:300px;
    height: 200px;
    padding:15px;
    border:10px solid rgb(5, 20, 105);
    margin:10px;
}
.boton-div__enviar{
    font-size: 14px;
    color: blue;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/965/165/desktop-wallpaper-best-5-boca-on-hip-club-atletico-boca-juniors.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}
.volver{
  color: chartreuse;
}
.botonvolver{
  color: aqua;
}
.rotating-text-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rotating-text-wrapper h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0.3em;
  color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  animation-duration: 6s;
  animation-iteration-count: infinite;
  opacity: 0;
}
.rotating-text-wrapper h2:nth-child(1) {
  background-color: lightseagreen;
  animation-name: rotating-text-1;
}
@keyframes rotating-text-1 {
  0% {
    transform: translateY(200%);
  }
  33% {
    transform: translateY(100%);
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}
.rotating-text-wrapper h2:nth-child(2) {
  background-color: tomato;
  animation-name: rotating-text-2;
}
@keyframes rotating-text-2 {
  33% {
    transform: translateY(100%);
    opacity: 0;
  }
  66% {
    transform: translateY(0);
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
}
.rotating-text-wrapper h2:nth-child(3) {
  background-color: cornflowerblue;
  animation-name: rotating-text-3;
}
@keyframes rotating-text-3 {
  66% {
    transform: translateY(0);
    opacity: 0;
  }
  99% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@media screen and (max-width: 576px) {
  .rotating-text-wrapper {
    font-size: 0.7rem;
  }
}


.animation-container {
  display: block;
  position: relative;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  
  .lightning-container {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    transform: translateY(-50%);
    
    .lightning {
      position: absolute;
      display: block;
      height: 12px;
      width: 12px;
      border-radius: 12px;
      transform-origin: 6px 6px;

      animation-name: woosh;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
      animation-direction: alternate;

      &.white {
        background-color: white;
        box-shadow: 0px 50px 50px 0px transparentize(white, 0.7);
      }

      &.red {
        background-color: #fc7171;
        box-shadow: 0px 50px 50px 0px transparentize(#fc7171, 0.7);
        animation-delay: 0.2s;
      }
    }
  }
  
  
  .boom-container {
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    transform: translateY(-50%);
    left: 200px;
    top: -145px;
    
    .shape {
      display: inline-block;
      position: relative;
      opacity: 0;
      transform-origin: center center;
      
      &.triangle {
        width: 0;
        height: 0;
        border-style: solid;
        transform-origin: 50% 80%;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        margin-left: -15px;
        border-width: 0 2.5px 5px 2.5px;
        border-color: transparent transparent #42e599 transparent;
        animation-name: boom-triangle;
        
        &.big {
          margin-left: -25px;
          border-width: 0 5px 10px 5px;
          border-color: transparent transparent #fade28 transparent;
          animation-name: boom-triangle-big;
        }
      }
      
      &.disc {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #d15ff4;
        animation-name: boom-disc;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
      }
      
      &.circle {
        width: 20px;
        height: 20px;
        animation-name: boom-circle;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        border-radius: 100%;
        margin-left: -30px;
        
        &.white {
          border: 1px solid white;
        }
        
        &.big {
          width: 40px;
          height: 40px;
          margin-left: 0px;
          
          &.white {
            border: 2px solid white;
          }
        }
      }
      
      &:after {
        background-color: rgba(178, 215, 232, 0.2);
      }
    }
    
    .shape {
      &.triangle, &.circle, &.circle.big, &.disc {
        animation-delay: .38s;
        animation-duration: 3s;
      }
      
      &.circle {
        animation-delay: 0.6s;
      }
    }
    
    &.second {
      left: 485px;
      top: 155px;
      .shape {
        &.triangle, &.circle, &.circle.big, &.disc {
          animation-delay: 1.9s;
        }
        &.circle {
          animation-delay: 2.15s;
        }
      }
    }
  }
}

@keyframes woosh {
  0% {
    width: 12px;
    transform: translate(0px, 0px) rotate(-35deg);
  }
  15% {
    width: 50px;
  }
  30% {
    width: 12px;
    transform: translate(214px, -150px) rotate(-35deg);
  }
  30.1% {
    transform: translate(214px, -150px) rotate(46deg);
  }
  50% {
    width: 110px;
  }
  70% {
    width: 12px;
    transform: translate(500px, 150px) rotate(46deg);
  }
  70.1% {
    transform: translate(500px, 150px) rotate(-37deg);
  }
  
  85% {
    width: 50px;
  }
  100% {
    width: 12px;
    transform: translate(700px, 0) rotate(-37deg);
  }
}

@keyframes boom-circle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(3);
  }
  100% {
  }
}

@keyframes boom-triangle-big {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  
  40% {
    opacity: 0;
    transform: scale(2.5) translate(50px, -50px) rotate(360deg);
  }
  100% {
  }
}

@keyframes boom-triangle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  
  30% {
    opacity: 0;
    transform: scale(3) translate(20px, 40px) rotate(360deg);
  }
  
  100% {
  }
}

@keyframes boom-disc {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: scale(2) translate(-70px, -30px);
  }
  100% {
    
  }
}


 FOOTER
.footer {
  color: white;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  font-weight: 200;
  padding: 10px 20px;
  
  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      color: #c6c6c6;
    }
  }
}
